.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 400%;
    height: 30vh;
    /* scroll-snap-align: start; */

}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40%;
    height: 30vh;
    /* scroll-snap-align: start; */

}
.card-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    /* border-color: red;
    border-style: solid; */
}
.card-t{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 10vw 0 10vw;
    /* border-color: red;
    border-style: solid; */
}
.card-d{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 5vw 0 5vw;
    text-align: justify; 

}

.fade-in{
  opacity: 0;
  transform: translateY(10vh); 
  transition: all 1s cubic-bezier(.215, .61, .355, 1);
}

.fade-in.in-page{
  opacity: 1;
  transform: translateY(0vh);
}
