#tobe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    width: 95%;
    background-color: rgb(246, 246, 246);
    border-radius: 30px;
    margin-top: 2.5vh;
    margin-left: 2.5%;
}

#tobelogo{
    border-radius: 30px;
    max-height: 300px;
}